{% extends 'Exam_portal/admin.html' %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <div>
                <h2>Login as Admin</h2>
        <form method="POST">
            <div style="padding: 2%;">{% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
                </div>
            <button type="submit" class="btn btn_primary">Submit</button>

        </form>
                </div>

        </div>
    </div>
{% endblock %}