<!DOCTYPE html>
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Software Incubator</title>
    <link rel="icon" href="{% static "img/logo.png" %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {#     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">#}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>#}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/admin_section.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

{% csrf_token %}
<nav class="navbar navbar-inverse">


    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/admin/" class="navbar-brand" style="cursor:hand;">SI recruitment - Admin panel</a>
        </div>

        {% if user.is_authenticated %}
            <div style="padding: inherit;">
                <a class="btn btn-link" href="../adminLogout" style="float:right;padding: 15px 15px;font-size:inherit;">logout</a>
            </div>
        {% endif %}
{#        <div style="padding: inherit;">#}
{#            <a class="btn btn-link" href="{{ request.META.HTTP_REFERER }}"#}
{#               style="float:right;padding: 15px 15px;font-size:inherit;">back</a>#}
{#        </div>#}
    </div>
</nav>
{% if user.is_authenticated  %}
<div class="container">
    <ol class="breadcrumb" style="margin-bottom: 5px;">
        {% block breadcrums %}<li><span>Admin </span></li>{% endblock %}
    </ol>
</div>
{% endif %}


<div class="container" id="ajax-loader" style="display: none;">
    <div class="row">
        <div class="col-sm-offset-5">
            <img src="{% static 'img/loader_ajax.gif' %}" class="img-responsive"/>
        </div>
    </div>
</div>


<div class="container">
    <div class="container-fluid">
        {% if messages %}

            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for message in messages %}
                    <span> Note : {{ message }}</span>
                {% endfor %}
            </div>

        {% endif %}
    </div>
</div>
{% block content %}{% endblock %}
{% block question %}{% endblock %}
{% block interface %}{% endblock %}
{% block time %}{% endblock %}
{% block student %}{% endblock %}
{% block admin %} {% endblock %}
{% block endadmin %}{% endblock %}


</body>
<html>
