{% extends "Exam_portal/admin.html" %}

{% block interface %}




    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to the admin panel</h1>
        </div>
        <div class="container">
            <div class="row" >
                <div class="col-sm-10" style="padding-left: 0px;">

                    <a class="btn btn-primary col-sm-3" href="../admin" style="margin: 5px 5px 5px 0px;"> Add
                        Question</a>
                    <a class="btn btn-primary col-sm-3" href="../edit" style="margin: 5px 5px 5px 0px;"> Edit
                        Question</a>
                    <a class="btn btn-primary col-sm-3" href="../edittime" style="margin: 5px 5px 5px 0px;"> Change the
                        Exam Time</a>
                    <a class="btn btn-primary col-sm-3" href="../student_section" style="margin: 5px 5px 5px 0px;">Student
                        Sections</a>
                </div>
                <div class="col-sm-2">

                        <a id='excel' class="btn btn-default col-sm-12" href='../download/'
                           style="margin: 5px 15px 5px 5px;float: right;">Download Excel</a>

                </div>


            </div>


        </div>

    </div>
{% endblock %}