{% extends "Exam_portal/admin.html" %}

{% block interface %}




    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to the admin panel</h1>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-sm-3">
                    <a class="btn btn-primary col-sm-10 " href="../admin/"> Add
                        Question </a>
                </div>
                <div class="col-sm-3">
                    <a class="btn btn-primary col-sm-10" href="../edit/"> Edit
                        Question </a>
                </div>
                <div class="col-sm-3">
                    <a class="btn btn-primary col-sm-10 " href="../edittime/"> Change the
                        Exam Time </a>
                </div>
                <div class="col-sm-3">
                    <a class="btn btn-primary col-sm-10" href="../student_section/">Student
                        Sections</a>
                </div>


            </div>

        </div>

        <div class="row" style="margin-top: 10px; ">
            <div class="col-sm-offset-5" style="margin-top: 5px;">
                <a class="btn btn-primary" href="../refresh/">Checks Refresh</a>
            </div>
            <div class="col-sm-offset-5" style="margin-top: 5px;">
                <a class="btn btn-primary" href='../switch/'>{{ button }}</a>
            </div>
            <div class="col-sm-offset-5" style="margin-top: 5px;">
                <a id='excel' class="btn btn-default " href='../download/'>Download Excel</a>
            </div>

        </div>

    </div>
{% endblock %}