{% extends 'Exam_portal/base.html' %}
{% load staticfiles %}
{% block login %}
    {% if request.session.name %}
    <span>Hello {{ request.session.name }}</span>
    {% else %}
        <a href="/exam/login/" >Login</a>
    {% endif %}
{% endblock %}

{% block ajax %}



    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">

            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_a" data-toggle="tab">Algorithm 1</a></li>
                <li><a href="#tab_b" data-toggle="tab">Algorithm 2</a></li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_a" style="padding-top:10px; ">

                    <p>Shizuka, the daughter of Code King, is the most beautiful girl of Candyland. Every other Prince wants to marry her.The Code King invites all the other Prince in the town for a RACE and the winner of the race gets a chance to marry her.
                    Obviously , the RACE will be full of hurdles. Given the number of Prince N, each with ID (0 to N-1) and their maximum jumping strengths (A[i] : i = 0,1,...,N-1) and the number of hurdles K, each with its height ( D[i] : i = 0,1,...K-1).
                    The Prince who crosses maximum number of levels wins the RACE. In case of ties, the Prince with minimum ID wins the RACE. <br>
                        Find the winner.<br>
                    For further clarification refer the testcases.</p>

                    <p><b>INPUT:</b><br>
                    First line of input contains a single integer 't' denoting the number of test cases .<br>
                    first line of each test case contains two space-separated integers N and K denoting the total number of Prince and the number of hurdles respectively.<br>
                    The second line of each test case contains N space-separated integers A[0],A[1],...,A[N-1] denoting prince's jumping strength.<br>
                    The third line of the each test case contains K space-separated integers D[0],D[1],..,D[K-1] denoting height of hurdle 'i'.<br>
                    </p>
                    <p><b>OUTPUT:</b><br>
                        output a single integer denoting the ID of the winning prince.<br>
                        <br>
                        <b>CONSTRAINTS:</b><br>

                        1<=t<=50<br>
                        1 <= N <= 10^6<br>
                        1 <= K <= 10^6<br>
                        0 <= A[i] <= 10^9<br>
                        0 <= D[i] <= 10^9<br>
                        <p>
                        <b>SAMPLE INPUT</b>
                        </p>
                        <p>
                        2<br>
                        5 5<br>
                        10 20 30 40 50<br>
                        7 7 7 7 7<br>
                        7 5<br>
                        1 2 3 4 5 6 7<br>
                        2 1 5 1 8<br>
                        </p>

                        <p><b>SAMPLE OUTPUT</b></p>
                        <p>
                        0
                        4
                        </p>
</p>
                </div>
                <div class="tab-pane" id="tab_b" style="padding-top:10px;">

                    <p>Andrii is good in Math, but not in Programming. He is asking you to solve following problem: Given an integer number N and two sets of integer A and B. Let set A contain all numbers from 1 to N and set B contain all numbers from N + 1 to 2N. Multiset C contains all sums a + b such that a belongs to A and b belongs to B. Note that multiset may contain several elements with the same values.
                        For example, if N equals to three, thenA = {1, 2, 3}, B = {4, 5, 6} and C = {5, 6, 6, 7, 7, 7, 8, 8, 9}.
                        Andrii has M queries about multiset C. Every query is defined by a single integer q.
                        Andrii wants to know the number of times q is contained in C.
                        For example, number 6 is contained two times, 1 is not contained in C at all. <br>
                        Please, help Andrii to answer all the queries.
                    </p>

                    <p>
                        <b>Input</b><br>
                        The first line of the input contains two integers N and M.<br>
                        Each of the next M line contains one integer q, the query asked by Andrii.<br>

                    </p>
                    <p>
                        <b>Output</b><br>
                        Output the answer for each query in separate lines as in example.

                    </p>
                    <p>
                        <b>Constraints</b><br>
                        1. 1 ≤ N ≤ 109<br>
                        2. 1 ≤ M ≤ 105<br>
                        3. 1 ≤ q ≤ 3N<br>


                    </p>
                     <p>
                         <b>Example</b>
                         <br>
                         INPUT:<br>
                         3 5<br>
                         6<br>
                         2<br>
                         9<br>
                         7<br>
                         5<br>

                         OUTPUT:<br>
                         2<br>
                        0<br>
                        1<br>
                        3<br>
                        1<br>


                     </p>

                </div>

            </div>


        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close  btn-flat">close</a>
        </div>
    </div>

    <div class="container">
        <div class="row" style="margin-bottom:4px;">
            <div class="col-sm-8">
                        <a class="btn modal-trigger" style="color:white;background-color: #26a69a" href="#modal1">Algorithm</a>
            </div>
            <div class="col-sm-4" >
                 Duration of exam is <b>{{ time }}:00</b>
                <p>You will get an alert in the last <br><b>{{ warn }}</b> min of exam.</p>

            </div>


        </div>

    </div>


    <form style="font-size: larger;">
        {% csrf_token %}
        <div class="container">

            <div class="alert alert-warning" style="margin-bottom: 3px;display: none;" id="error_message">
                Your exam is about to end
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>

            <input type="radio" id="timeStarter" style="display: none;" name="timeStarter" checked="checked"
                   value="true">
            <div class="chip " style="float: right; margin-right: 10%;" id="chip">
                Timer Clock : <label id="time" style="font-size: larger;"></label>

            </div>



            <div class="container" style="width: 100%;padding-top: 5%; padding-left:0px; ">


                <div>

                    {#                        -------------Category section ------------------------------------#}

                    <div class="row">

                      <div class="col-sm-8" style="float:left;">

                            <div class="container" style="width: 100%;" id="category">
                                <ul class="category_list">
                                    {% for category_question_id,category,id in instance.category %}
                                        <li style="display: inline;padding: 2%;color: black;cursor: pointer;"
                                            id="{{ category_question_id }}" class="C{{ id }}">{{ category }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {#                    ------------------- Category End --------------------------------------#}

                            <ul class="collection">
                                <li class="collection-item content-markdown img" id="question"  style="font-size:small;padding: 0px;margin: 0px;"><pre style="margin-bottom: 0px;">{{ instance.question_no }}<sup style="color:red;">{% if instance.negative %}*{% endif %}</sup>. {{ instance.question|safe }} </pre></li>

                                <div class="container-fluid" id="choices" style="padding:2%;">
                                    {% for choice,id in instance.choice_data %}
                                        <li class="collection=item" id="{{ id }}" >
                                            <input name="choice" type="radio" id="test{{ forloop.counter }}"
                                                   value="{{ id }}" class="choices"/>
                                            <label style="color:black;font-style: normal;"
                                                   for="test{{ forloop.counter }}"
                                                   id="q{{ forloop.counter }}">{{ choice|safe }}</label>
                                        </li>
                                    {% endfor %}

                                </div>
                            </ul>

                            <div class="row" style="padding: 2px;margin: 0px;" id="parent-btn-grp">

                                <div class="btn-group btn-group-justified" role="group" >
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-primary" type="submit" id="previous" style="font-size:12px;background-color: #26a69a;">Previous
                                    </button>
                                    </div>

                                    <div class="btn-group" role="group">
                                        <button class="btn btn-primary" type="submit" id="mark" style="font-size: 11px;px;background-color:#155d56;">Mark for Review
                                        </button>
                                    </div>
                                    <div class="btn-group " role="group">
                                        <button class="btn {{ request.session.current }} btn-primary pull-right " type="submit" id="next" style=" font-size:12px;background-color: #26a69a;">Submit & Next
                                        </button>
                                    </div>
                                </div>


                            </div>
                        </div>
                        {#                    ---------------------- question grid-------------------------#}
                        <div class="container-fluid col-sm-4" id="grid"
                             style="border-radius: 5%;float: right;width: 32%; padding:1%; ">
                            <div style="margin-bottom: 1%">
                                Question Number are give below
                            </div>
                            <div style="padding:2px;float:left;">
                                <ul>
                                    {% for key in keys %}
                                        <li class="btn-floating btn-flat "
                                            style="padding-bottom:1%;background-color: #D5E7EA;text-align:center;color: #000;margin:1.5%;height: 20vm;"
                                            id="{{ key }}">{{ forloop.counter }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    {#                    ------------------------quesiton grid ends --------------------#}


                    {#                   ----------------------------button section ----------------------------#}

                <div class="row">
                    <div class="container" id="ajax-loader" style="display: none;">
    <div class="row">
        <div style="position: fixed; left: 50%; top: 50%;z-index: 9999;">
            <img src="{% static 'img/loader_ajax.gif' %}" class="img-responsive" height="30px" width="30px"/>
        </div>
    </div>
    </div></div>
                    <div class="container-fluid row"
                         style="margin-top:5%;margin-right:0px;padding-right: 0px;text-align:right;">

                        <div class="col-sm-8">
                            <label style="float: left;padding: 2%;"> <a class="tooltipped" style="color:#9e9e9e;" data-position="top" data-delay="50" data-tooltip="Negative Marking">This <span style="color:red;">" * "</span> asterisk on
                                the question means that the
                                question have negative marking</a></label>
                        </div>
                        <div class="col-sm-4 ">
                            <button class="btn pull-right" id="endExam" style="background-color: #f44336;color:white;">End Exam
                            </button>


                        </div>

                    </div>


                </div>
            </div>

        </div>
    </form>

{% endblock ajax %}
