{% extends 'Exam_portal/base.html' %}


{% block ajax %}

    <div class="container">
        <a class="btn modal-trigger" style="color:white;background-color: #3f51b5" href="#modal1">Algorithm</a>
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">

            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_a" data-toggle="tab">Algorithm 1</a></li>
                <li><a href="#tab_b" data-toggle="tab">Algorithm 2</a></li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_a">
                    <h4>Algorithm 1.</h4>
                    <p>eget velit. Nullam convallis semper pulvinar. Vestibulum orci velit, dapibus sit amet lacinia nec,
                            sodales vitae dui. Donec ullamcorper molestie nulla. Nulla posuere viverra hendrerit. Nulla eu vehicula
                            nisl. Phasellus commodo ipsum at justo bibendum scelerisque. Sed feugiat nisi eget magna volutpat
                            cursus. Mauris accumsan est non turpis consectetur congue. Cras placerat, lectus id cursus feugiat,
                            tellus quam aliquam nisi, in ultricies est tortor in leo.</p>
                </div>
                <div class="tab-pane" id="tab_b">
                    <h4>Algorithm 2.</h4>
                    <p>eget velit. Nullam convallis semper pulvinar. Vestibulum orci velit, dapibus sit amet lacinia nec,
                            sodales vitae dui. Donec ullamcorper molestie nulla. Nulla posuere viverra hendrerit. Nulla eu vehicula
                            nisl. Phasellus commodo ipsum at justo bibendum scelerisque. Sed feugiat nisi eget magna volutpat
                            cursus. Mauris accumsan est non turpis consectetur congue. Cras placerat, lectus id cursus feugiat,
                            tellus quam aliquam nisi, in ultricies est tortor in leo.
                    </p>
                </div>

            </div>


        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close  btn-flat">close</a>
        </div>
    </div>

    <form style="font-size: larger;">
        {% csrf_token %}
        <div class="container">
            <div class="container-fluid alert" style="margin-bottom: 10px;">Duration of exam is <b>{{ time }}:00</b>
                <p>You will get an alert in the last <b>{{ warn }}</b> min of exam.</p>
            </div>

            <div class="alert alert-warning" style="margin-bottom: 3px;display: none;" id="error_message">
                Your exam is about to end
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

            </div>


            <input type="radio" id="timeStarter" style="display: none;" name="timeStarter" checked="checked"
                   value="true">
            <div class="chip " style="float: right; margin-right: 12%;" id="chip">
                Timer Clock : <label id="time" style="font-size: larger;"></label>

            </div>

            <div class="container" style="width: 100%;padding-top: 5%;">


                <div>

                    {#                        -------------Category section ------------------------------------#}
                    <div class="row">
                        <div class="col-sm-8" style="float:left;">

                            <div class="container" style="width: 100%;" id="category">
                                <ul class="category_list">
                                    {% for category_question_id,category,id in instance.category %}
                                        <li style="display: inline;padding: 2%;color: black;cursor: pointer;"
                                            id="{{ category_question_id }}" class="C{{ id }}">{{ category }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {#                    ------------------- Category End --------------------------------------#}

                            <ul class="collection">
                                <li class="collection-item" id="question" style="font-size:large;"><span
                                        id="question_no">{{ instance.question_no }}. </span><pre>{{ instance.question }}</pre><strong><label
                                        id="negative" style="color: black;margin: 0px; ">
                                </label></strong>{% if instance.negative %}
                                    <span style="padding: 2%;">&times;</span>{% endif %}</li>

                                <div class="container-fluid" id="choices" style="padding:2%;">
                                    {% for choice,id in instance.choice_data %}
                                        <li class="collection=item" id="{{ id }}">
                                            <input name="choice" type="radio" id="test{{ forloop.counter }}"
                                                   value="{{ id }}" class="choices"/>
                                            <label style="color:black;font-style: normal;"
                                                   for="test{{ forloop.counter }}"
                                                   id="q{{ forloop.counter }}">{{ choice }}</label>
                                        </li>
                                    {% endfor %}

                                </div>
                            </ul>

                            <div class="container-fluid row" style="padding: 0px;margin: 0px;">
                                <button class="btn btn-sm col-sm-3" type="submit" id="previous"
                                        style="color:white;background-color: #3f51b5">Previous
                                </button>
                                <div class="col-sm-1"></div>
                                <button class="btn btn-sm col-sm-4" type="submit" id="mark"
                                        style="color:white;background:#f44336;">Mark for Review
                                </button>
                                <div class="col-sm-1"></div>
                                <button class="btn col-sm-3 btn-sm {{ request.session.current }}" type="submit"
                                        id="next"
                                        style="background-color: #3f51b5;color:white;">Submit && Next
                                </button>
                            </div>
                        </div>
                        {#                    ---------------------- question grid-------------------------#}
                        <div class="container-fluid col-sm-4" id="grid"
                             style="border-radius: 5%;float: right;width: 32%; padding:1%; ">
                            <div style="margin-bottom: 1%">
                                Question Number are give below
                            </div>
                            <div style="padding:2px;float:left;">
                                <ul>
                                    {% for key in keys %}
                                        <li class="btn-floating btn-flat "
                                            style="padding-bottom:1%;background-color: #D5E7EA;text-align:center;color: #000;margin:1.5%;height: 20vm;"
                                            id="{{ key }}">{{ forloop.counter }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    {#                    ------------------------quesiton grid ends --------------------#}


                    {#                   ----------------------------button section ----------------------------#}

                    <div class="container-fluid row"
                         style="margin-top:5%;margin-right:0px;padding-right: 0px;text-align:right;">

                        <div class="col-sm-6">
                            <label style="float: left;padding: 2%;;"> This <span style="">" &times; "</span> label after
                                a question mean the
                                question have negative marking</label>
                        </div>
                        <div class="col-sm-6">
                            <label style="padding: 2%;float: left;">If you are Done you can Finish your Exam</label>
                            <button class="btn " id="endExam" style="background-color: #f44336;float: left;">End Exam
                            </button>
                        </div>

                    </div>


                </div>
            </div>

        </div>
    </form>

{% endblock ajax %}
