{% extends 'Exam_portal/base.html' %}
{% csrf_token %}
{% block content %}
    <div class="container">

        <div class="row text-center" style="background-color: transparent;">
            <h5>
      INSTRUCTIONS:
            </h5>
        </div>
        <ul class="list-group">
            <li class="list-group-item">Test Duration: <b>1 hour</b>. You are expected to complete the <b>MCQs and the algorithms</b> within that time.</li>
            <li class="list-group-item">Read the questions thoroughly.and answer carefully.</li>
            <li class="list-group-item">The question paper contains:-
                <ul id="ins-bul">
                    <li ><b>HTML/CSS</b>- 10 Questions.</li>
                    <li><b>Sql</b> - 5 questions</li>
                    <li><b>OOP</b>- 5 questions</li>
                    <li><b>C</b>- 10 questions</li>
                    <li><b>Aptitude</b>- 5 questions</li>
                    <li><b>Algorithm</b>–  2 Questions.</li>
                </ul>
            </li>
            <li class="list-group-item"><b>Do not </b>press the back button or refresh the web page.</li>
            <li class="list-group-item">For every correct answer, <b>3 marks are awarded</b>.</li>
            <li class="list-group-item">All questions marked with an asterisk carry <b>1 negative mark </b>for a wrong answer.
</li>
            <li class="list-group-item">Options once marked can <b>later be changed</b> but <b>cannot be unmarked</b>.
</li>
            <li class="list-group-item">The answers to the questions marked for review will automatically be submitted.
</li>
            <li class="list-group-item">You will be provided an <b>A4 sheet</b> to attempt the algorithms. Do not forget to mention <b>your name, student number and contact number</b> in it.
</li>
            <li class="list-group-item">The outputs of various C programs are in accordance with the <b>32 bit gcc compiler</b>.
</li>
            <li class="list-group-item">You are allowed to submit the test only once.
</li>
            <li class="list-group-item"> As soon as the timer ends, your test will be <b>automatically submitted</b>.
</li>
            <li class="list-group-item"> Anybody found guilty of cheating will be <b>disqualified</b>.
</li>
        </ul>
        <a class="btn" id="start"
           href="{% url 'Exam_portal:ajaxshow' %}" style="margin-bottom:20px; background-color:#26a69a;color: white;">Start</a>
    </div>

{% endblock content %}
{% block login %}
    <a href="#">Hello {{ request.session.name }}</a>
{% endblock %}