{% extends 'Exam_portal/base.html' %}
{% csrf_token %}
{% block content %}
    <div class="container">
        <div class="collection">

            <div href="#!" class="collection-item"><h5>{{ request.session.name }}</h5><span
                    class="badge">  </span></div>

        </div>
        <div class="jumbotron" style="background-color: transparent;">
            <h1>
                This page contain the instruction of the quiz portal
            </h1>
        </div>
        <a class="btn" id="start"
           href="{% url 'Exam_portal:ajaxshow' %}" style="background-color:#3f51b5">Start</a>
    </div>

{% endblock content %}