{% extends 'Exam_portal/base.html' %}

{% block content %}
    <style type="text/css">
        @media only screen and (min-width: 601px) {
            #id_card_type_container {
                margin-top: 40px;
                margin-left: 50px;
            }
        }
    </style>



    {% load material_form %}
    <div class="container" style="padding: 1%;">
        <div style="padding: 5%;">
            <h1 style="margin-bottom: 3%;">{{ heading }}</h1>
            <form method="POST" class="viewform">
                {% csrf_token %}
                {% form %}
                    {% part form.Name prefix %}<i class="mdi-action-account-box prefix"></i>{% endpart %}

                    {% part form.StudentNo prefix %}<i class="mdi-action-exit-to-app prefix"></i>{% endpart %}
                    {% part form.Email prefix %}<i class="mdi-communication-email prefix"></i>


                    {% endpart %}

                    {% part form.Contact prefix %}<i class="mdi-communication-call prefix"></i>{% endpart %}
                    {% part form.Branch prefix %}{% endpart %}
                    {% part form.Skills prefix %}{% endpart %}
                {% endform %}
                <div class="row" style="padding-top: 2%;">
                    <button type="submit" name="_submit" class="btn btn-primary btn-lr"
                            style="background-color:#3F51B5">{% if display %}Update your Info{% else %}Submit{% endif %}
                    </button>

                    {% if display %}

                        <a class="btn btn-primary btn-lr" href="../end/" style="float: right;background-color:#3F51B5; ">No Update is required</a>

                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}


