{% extends 'Exam_portal/admin.html' %}
{% block breadcrums %}
    <li><a href="/admin/"><span>Admin</span></a></li>
    <li><span>Student Section</span></li>
{% endblock %}

{% block student %}
    <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="jumbotron">
            <h3>This Section contain the marks of the student</h3>
        </div>

        {% for student in students %}
            <div class="panel panel-default">
                <div class="panel-body">Name:<a href="/exam/graph/{{ student.student.student_no }}/">{{ student.student.name }} </a> <span class="text-right">Marks: {{ student.marks }}</span>


            </div>
        {% endfor %}


    </div>
{% endblock %}