{% extends 'Exam_portal/admin.html' %}

{% block breadcrums %}
    <li><a href="/admin/"><span>Admin</span></a></li>
    <li><span>Edit time</span></li>
{% endblock %}




{% block time %}
    <div class="container" id="time" style="padding: .3%;">
        <div class="jumbotron">
            <h1 style="margin: 0px;">You can update the test time and name here.</h1>
        </div>
        <div>
            <label style="padding:2%; margin-left:-10px;; "> Current time is <h3
                    style="display: inline;">{{ time.time.hour }}:{{ time.time.minute }}:00</h3></label>
            <label> Prompt time <h3 style="display: inline;">{{ time.warn_time }} min </h3></label>
        </div>
        <form method="POST" id="time_form">
            {% csrf_token %}
            <span class="fields" for="name" style="font-size: larger;">Name of Exam <input type="text" name="name" id="test_name"
                                                                                           value="{{ time.name }}"
                                                                                           placeholder="Name of Examinations"
                                                                                           required></span>
            <label class="fields">Enter new time for the Exam</label>

            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <label class="fields" for="name">Minutes </label>
                        <label class="fields" for="name">Warning Prompt Time</label>

                    </div>

                    <div class="col-sm-4">
                        <div style="margin-bottom: 10px;"><input type="number" col='30' name="minutes"
                                                                 placeholder="Minutes"  required></div>
                        <div style="margin-bottom: 10px;"><input type="number" col='30' name="warn"
                                                                 placeholder="Prompt time"  required></div>


                    </div>
                </div>
            <div id="time_error" style="color: red;padding: 5px;"></div>
            </div>


            <button class="btn btn-primary">Update the time</button>
            <a class="btn btn-primary" href="../adminchoice">Admin Panel</a>

        </form>

    </div>



{% endblock %}
